body {
  font-family: "Avenir Next" !important;
}

.news-background{
 background-image: linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),url(https://storage.googleapis.com/images-de-uitdaging/open-water-running.jpg);
 background-size: cover;
 background-repeat: no-repeat;
}

.site-footer {
  background-color: #333333;
}