{% extends "base.html" %}

{% block content %}
<!-- Uitdaging section-->
<section class="jumbotron mb-0 text-center news-background">
  <div class="container">
    <div class="row">
      <h1 class="jumbotron-heading text-white"><strong>IN 2019 ZWEMMEN WE DE GREAT EAST SWIM OM 'ZONDER HONGER NAAR BED' TE STEUNEN</strong></h1>
    </div>
    <div class="row px-5 py-2 col-10 offset-1">
      <p class="lead text-white">Sinds 2015 gaan we jaarlijks fysieke uitdagingen aan. Hiermee verzamelen we steun voor lokale organisaties, die met onze steun dagelijks het verschil maken voor mensen om ons heen.</p>
    </div>
  </div>
</section>

<!-- Uitdaging details section-->
<section class="py-3 text-center bg-light">
  <div class="container">
    <h1 class="jumbotron-heading">Aankomende uitdaging en goede doel</h1>
    <div class="row">
      <div class="col-sm text-justify px-5 py-4">
       Op 22 juni 2019 zwemmen we de Great East Swim. Dit is een georganiseerde open water zwemwedstrijd in het Verenigd Koninkrijk. Je kunt afstanden zwemmen tussen de 250 meter en de 10 kilometer. Wil je met ons deelnemen aan deze uitdaging? Laat het ons weten!
     </div>
     <div class="col-sm text-justify px-5 py-4">
       Met onze uitdagingen en jullie steun hebben we sinds 2015 €12.587 opgehaald voor 3 prachtige organisaties: het Revalidatie & MS centrum in Overpelt, Fonto Nova in Genk en FCPLim. Dit jaar zamelen we geld in voor Zonder Honger Naar Bed.
     </div>
   </div>
 </div>
</section>

<!-- Call to action  section-->
<section class="py-3 text-center">
  <div class="container">
    <h4 class="jumbotron-heading"><strong>Steun door te doneren</strong></h45>
    <h5 class="py-2"><strong>Rekeningnummer:</strong> BE60 0689 0378 2470<br>
    <strong>Begunstigde:</strong> De Uitdaging<br>
    <strong>Onderwerp:</strong> Zonder Honger Naar Bed</h5>
 </div>
</section>

{% endblock %}
