<!doctype html>
<html lang="nl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>De Uitdaging</title>

    <!-- Custome CSS -->
    <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="d-flex flex-column flex-md-row align-items-center p-1 px-md-4 mb-0 bg-white border-bottom shadow-sm">
        <div class="mr-md-auto">
          <img src="https://storage.googleapis.com/de-uitdaging-images/de-uitdaging-logo-header.jpg" alt="De Uitdaging Logo">
        </div>
<!--         <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="">Over ons</a>
        </nav>
        <a class="btn btn-outline-primary" href="">Neem deel & Steun</a> -->
      </div>
    </header>

    <!-- News section-->
    <section class="jumbotron mb-0 text-center news-background">
       <div class="container">
         <div class="row">
           <h1 class="jumbotron-heading text-white">IN 2019 ZWEMMEN WE DE GREAT EAST SWIM OM ZONDER HONGER NAAR BED TE STEUNEN</h1>
           <p class="lead text-white px-5 py-4">We gaan sinds 2015 jaarlijks fysieke uitdagingen aan. Hiermee verzamelen we steun voor lokale organisaties, die met onze steun dagelijks het verschil maken voor mensen om ons heen. Neem deel aan onze uitdaging of steun Zonder Honger Naar Bed op BE60 0689 0378 2470 met de melding ‘Zonder Honger Naar Bed’.</p>
         </div>
       </div>
     </section>

     <!-- News details section-->
     <section class="py-4 text-center">
       <div class="container">
         <h1 class="jumbotron-heading">Aankomende uitdaging en goede doel</h1>
         <div class="row">
           <div class="col-sm text-justify px-5 py-4">
            Op 22 juni 2019 zwemmen we de Great East Swim. Dit is een georganiseerde open water zwemwedstrijd in het Verenigd Koninkrijk. Je kunt afstanden zwemmen tussen de 250 meter en de 10 kilometer. Wil je met ons deelnemen aan deze uitdaging? Laat het ons weten!
          </div>
          <div class="col-sm text-justify px-5 py-4">
            Met onze uitdagingen en jullie steun hebben we sinds 2015 €12.587 opgehaald voor 3 prachtige organisaties: het Revalidatie & MS centrum in Overpelt, Fonto Nova in Genk en FCPLim. Dit jaar zamelen we geld in voor Zonder Honger Naar Bed. Steun hun werk met een bijdrage op BE60 0689 0378 2470 met de melding ‘Zonder Honger Naar Bed’.
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="text-center px-3 py-2 fixed-bottom site-footer">
      <div class="container text-white">
        <p>Wil je in contact komen? Mail <u><a href="mailto:hello@de-uitdaging.org" class="text-white">hello@de-uitdaging.org</a></u> of bezoek <u><a href="https://www.facebook.com/DeUitdagingBE/" class="text-white">onze Facebook pagina</a></u></p>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>