{% extends "base.html" %}

{% block content %}
<!-- About us banner-->
<section class="jumbotron mb-0 text-center aboutus-background">
  <div class="container">
    <h1 class="text-center text-white">Over ons</h1>
  </div>
</section>

<!-- About us section-->
<section>
  <div class="container px-5 py-4">
      <p>Hi daar,</p>

      <p>Welkom bij ‘De Uitdaging’! Synoniem voor een groep van gelijkgezinde sportievelingen die fysieke uitdagingen aangaan om geld in te zamelen voor bijzondere goede doelen. In een strijd met de elementen maar vooral onszelf gaan we allerlei proeven aan gaande van marathons over trektochten tot fietswedstrijden. De Uitdaging is een initiatief van acht Belgische vrienden maar wil een open platform zijn. We nodigen iedereen die achter de filosofie staat uit om deel te nemen aan de uitdagingen en om de goede doelen te steunen.</p>

      <h5>Waarom De Uitdaging tot stand kwam</h5>
      <p>Zijn we gek? Een beetje. Maar het geeft ons vooral ook een geweldige kick om samen vanaf nul een uitdaging aan te pakken, tot een goede einde te brengen en limieten te verleggen. Op jezelf fysieke grenzen aftasten is al heftig, maar dat samen met gelijkgezinden doen maakt de beleving nog zoveel intenser. Da’s exact waarom De Uitdaging werd opgestart.</p>

      <h5>Waarom we spreken over De Uitdaging</h5>
      <p>Maar er is meer. En daarom spreken we van De Uitdaging, en niet zomaar een uitdaging. We zullen met elke uitdaging die we aangaan een goed doel steunen. Een goed doel dat we altijd met zorg hebben uitgekozen, dat ons persoonlijk nauw aan het hart ligt en dat ook altijd iets te maken heeft met de specifieke uitdaging die we aangaan. 
      Onze belofte daarbij: al het geld dat we ophalen gaat volledig naar het goede doel. We bezoeken elk goede doel persoonlijk om daar zeker van te zijn en we betalen onze materialen, inschrijvingsgelden, … helemaal zelf.</p>

      <h5>Neem deel aan onze uitdagingen en steun onze goede doelen!</h5>
      <p>We zijn op zoek naar jou! De Uitdaging is een initiatief van acht Belgische vrienden, maar we nodigen iedereen die achter de filosofie staat uit om deel te nemen aan de uitdagingen en om de goede doelen te steunen.
      Het zou fantastisch zijn om jou aan onze zijde te hebben tijdens de volgende uitdaging en je financiële steun zou ook heel erg geapprecieerd worden. Dus stuur ons een berichtje als je betrokken wil worden bij wat we doen of zend ons een aanmoediging als je ons een warm hart toedraagt. Geloof ons als we zeggen dat dat is wat ons er door zal helpen als we door onze limieten breken.</p>

      <h5>Onze verhalen</h5>
      <p>Op deze website schrijven we over alles dat we doen om in onze uitdagingen te slagen en om de goede doelen die we uitkiezen te steunen. Van de selectie van de uitdaging en het doel tot het trainingsschema en de organisatie. Zowel de ups als de down. Je kan er hier over lezen, zodat je De Uitdaging samen met ons kan beleven.</p>

      <h5>Afgelopen Uitdagingen</h5>
      <p>We hebben in de afgelopen 3 jaar grote uitdagingen overwonnen: De Dodentocht, La Marmotte en La Terril. Daarnaast gingen onze leden en vrienden van De Uitdaging extra uitdagingen aan voor onze goede doelen; zoals de 20 km van Brussel, de Marathon van Rotterdam en de Iron Man in Nice. We bereiden ons nu voor op de volgende grote uitdaging: Great East Swim.</p>

      <h5>Opbrengst</h5>
      <p>Met onze uitdagingen en jullie steun hebben we sinds onze start € 12.587 opgehaald voor 3 prachtige organisaties: het Revalidatie & MS centrum in Overpelt, Fonto Nova in Genk en FCPLim. In 2019 zamelen we geld in voor Zonder Honger Naar Bed. Deze organisatie geeft kleding en eten aan daklozen in Hasselt, zodat ze niet met honger naar bed hoeven te gaan.</p>

      <p>We kijken er naar uit om van je te horen.</p>
      <p class="pb-5">Cheers,<br>Simon, Sven, Jorn, Bright, Dominiek, Michiel, Benjamin en Stijn</p>

  </div>
</section>

{% endblock %}
