{% extends "base.html" %}

{% block content %}
<!-- Banner section-->
<section class="jumbotron mb-0 text-center news-background">
  <div class="container">
    <div class="row">
      <h1 class="jumbotron-heading text-white"><strong>PROJECTS</strong></h1>
    </div>
  </div>
</section>

<!-- Table section-->
  <div class="container px-5 py-4">
  <div class="container">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Goed doel</th>
            <th scope="col">Hoeveelheid opgehaald</th>
          </tr>
        </thead>
        <tbody>
          {% for project in projects %}
          <tr>
            <td> {{ project.get('cause') }}</td>
            <td> {{ project.get('amount') }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

{% endblock %}
