{% extends "base.html" %}

{% block content %}
<!-- Uitdaging section-->
<section class="jumbotron mb-0 text-center news-background">
  <div class="container">
    <div class="row">
      <h1 class="jumbotron-heading text-white"><strong>PROJECTS</strong></h1>
    </div>
    <div class="row px-5 py-2 col-10 offset-1">
      <p class="lead text-white">Sinds 2015 gaan we jaarlijks fysieke uitdagingen aan. Hiermee verzamelen we steun voor lokale organisaties, die met onze steun dagelijks het verschil maken voor mensen om ons heen.</p>
    </div>
  </div>
</section>

{% endblock %}
